body, html {
    height: 100%;
  }
* {

}

.icon-logo{
    max-width: 100%;
  height: auto;
}
.circle {
    border-radius: 50%;
    width: 100%;
    /* height: 228px; */
    position: relative;
    /* top: 72px; */
    transition: all .3s;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}
.img-header{
    /* border: 10px solid rgb(244, 96, 96); */
    height: 100%;
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.background-header{
    /* background-image: url("../assets/image/bg_game_1.png");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat; */
    position: relative;
    padding: 0!important;
    /* height: 100%; */
}
.content-center{
    /* border: 8px solid blueviolet; */
    position: absolute;
    /* position: relative; */
    top: 50%;
    /* top: 80%; */
    /* top: -25%; */
    /* left: 50%; */
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
    /* height: 100%; */
}
.input-search{
    box-sizing: border-box;
    /* width: 600px;
    height: 40px; */
    width: 42%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #81D4FA;
    padding: 12px;
}
.btn-search{
    /* top: 51%;
    position: absolute; */
    box-sizing: border-box;
    border: 0;
    width: 40px;
    height: 40px;
    background: #0277BD;
}
.search{
    margin: 22px 0;
    display: flex;
    justify-content: center;
}
.sex{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background:white
}
.img-btn{
    padding:10px;
    background:white
}

.background-navbar{
    background: rgba(128, 216, 255, 0.1);
}
 /*
::::::::::::::::::::::::::::::::::::::::::::::::::::
HEADER MOBILE DEVICE
*/
.header-mb{
    display: none;
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
BODY CONTENT
*/
.story{
    margin:40px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #81D4FA;
}
.content{
    margin-top: 40px;
}
.title{
    /* Truyện mới cập nhật */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #0277BD;

}

.see-more{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #EF5350;
    text-align:end;
    align-self: center;
}
.detail-story{
    font-size: 14px;
    color:#999999
}
.detail-story p{
    margin: 5px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #999999;
}
.name-story{
    color: black !important;
    font-size: 16px !important;
}
.clone-content{
    margin: 20px;
}
.story .row{
    --bs-gutter-x:none!important;
}
.image-story{
    width: 90%;
}
.favorite-story{
    padding-right: 20px !important;
}
.most-viewed-stories{
    padding-left: 20px !important;
}
.content-story{
    color : #666666 !important;
    line-height: 18px !important;
    margin: 10px 0 !important;
}
.chap-story {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #999999;
}
.story-top{
    margin-bottom: 15px !important;
}
.list-story{
    margin: 5px 0!important;
    border-bottom: 0.5px dashed #999999;
}
.category-story{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.name-story-finished{
    font-size: 14px !important;
    color: black !important;
}
/* .st-finish-1{
    padding-right: 15px !important;
    margin: 15px 0 !important;
}
.st-finish-2{
    padding: 0 15px !important;
    margin: 15px 0 !important;
}
.st-finish-3{
    padding: 0 15px !important;
    margin: 15px 0 !important;
}
.st-finish-4{
    padding-left: 15px !important;
    margin: 15px 0 !important;
} */
.st-finish{
    padding: 7px !important;
    margin: 15px 0 !important;
}
.title-finished{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #0277BD;
    margin-bottom: 3px;
}


/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
FOOTER
*/
.img-footer{
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.35)));
}
.content-footer{
    position: absolute;
}

.copyright{
    float: right;
    /* padding: 10px 10px; */
    width: 80%;
    padding-right: 105px;
}
.footer-mb{
    display: none;
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 5 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

@media (max-width: 768px) {
    .favorite-story{
        padding-right: 0 !important;
        padding-bottom: 20px;
        border-bottom: 1px solid #81D4FA;
    }
    .most-viewed-stories{
        padding-top: 40px;
        padding-left: 0 !important;
    }
    .st-finish-1{
        padding-right: 15px !important;
    }
    .st-finish-2{
        padding: 0 15px !important;
    }
    .st-finish-3{
        padding: 0 15px !important;
    }
    .st-finish-4{
        padding-left: 15px !important;
    }
    .content-footer-mb .icon-logo-mb{
        height: 45px;
    }
    .footer-mb{
        display: block;
    }
    .copyright-mb p{
        margin: 0;
        margin-top: 10px;
        font-size: 5px;
        width: 100%;
    }
    .img-footer{
        height: 20%;
        position: absolute;
    }
    .icon-logo-mb{
        height: 45px!important ;
    }
    .circle-mb div {
        top: 45% !important;
        font-size: 10px !important;
    }
}
 
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  
    .background-header{
        height: 25%;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    /* .content-center {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        width: 100%;
    } */
    .content-center {
        display: none;
    }
    .header-mb{
        margin-top: 5px;
        display: block;
        /* justify-content: space-around; */
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 10px 50px;
    }
    .circle-mb{
        position: relative;
        height: 50px;
        float: left;
    }
    .content-header-mb{
        float: right;
    }
    .circle-mb div {
        position: absolute;
        top: 50%;
        left: 49.8%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }
    .img-btn-mb{
        height: 35px;
    }
    .sex-mb{
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        background:white
    }
    .icon-logo-mb{
        height: 55px;
    }
    .input-search-mb{
        display: flow-root;
        align-self: center;
    }
    .btn-sex-mb{
        display: flow-root;
        align-self: center;
    }
    .st-finish-1{
        padding-right: 15px !important;
        margin: 15px 0 !important;
    }
    .st-finish-2{
        padding: 0 15px !important;
        margin: 15px 0 !important;
    }
    .st-finish-3{
        padding: 0 15px !important;
        margin: 15px 0 !important;
    }
    .st-finish-4{
        padding-left: 15px !important;
        margin: 15px 0 !important;
    }
    .footer-mb{
        display: block;
    }
    .content-footer{
        display: none;
    }
    .content-footer-mb{
        transform: translate(0, -50%);
        text-align: center;
    }
    .circle-ft-mb{
        border-radius: 50%;
        width: 100%;
        /* height: 228px; */
        position: relative;
        /* top: 72px; */
        transition: all .3s;
    }
    .centered-ft-mb{
        position: absolute;
        top: 50%;
        left: 49.8%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }
    .copyright-mb p{
        margin: 0;
        margin-top: 10px;
        font-size: 10px;
        width: 100%;
    }
    .img-footer{
        position: absolute;
    }
    .content-header-mb .show{
        /* position: absolute;
        transform: translate(-87px, 0px);
        width: 100%; */
        display: grid;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  
    .nname-story-finished{
        color: black !important;
        font-size: 10px !important;
    }
    .chap-story{
        font-size: 11px !important;
        align-self: end;
    }
}
 
/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {  
    
}
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
    /* .st-finish-1{
        padding-right: 15px !important;
    }
    .st-finish-2{
        padding: 0 15px !important;
    }
    .st-finish-3{
        padding: 0 15px !important;
    }
    .st-finish-4{
        padding-left: 15px !important;
    } */
}